.container-fluid {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    max-width: 1200px;
    margin-top: 100px;
}

.left-intro {
    flex: 1; 
    padding: 20px;
    color: #fff; 
}
i{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}
.right-my-image {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-my-image img {
    width: 70%; 
    max-width: 400px; 
    border-radius: 50%;
    outline: 2px solid grey;
    /* outline-offset: 10px;  */
    background-color: coral;
    height: 60vh; 
    object-fit: cover;
}
.right-my-image img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.right-my-image img:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 4px 4px rgba(60,60,10,0.5);
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column; 
        padding: 10px; 
    }

    .left-intro, .right-my-image {
        flex: none;
        width: 100%; 
        text-align: center; 
    }
    .left-intro h2{
        font-size: 10px;
        margin-top: 30px;
        overflow: scroll;
    }

    .right-my-image img {
        max-width: 60%; 
        height: 30%;
        border-radius: 10px; 
        
    }

    .left-intro {
        padding-bottom: 20px; 
    }
}

.about-section {
    padding: 20px;
    background-color: #f7f7f7; 
    border-radius: 10px; 
  }
  
  .about-section h1 {
    margin-bottom: 20px;
    color: #333; 
    font-family: 'Poppins', sans-serif; 
  }
  
  .contents {
    display: flex; 
    justify-content: space-between;
    gap: 20px;  
  }
  .list-group{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .list-group:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  .contents ul {
    flex: 1; 
    background-color: #fff;  
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .list-group-item {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none; 
    padding: 10px 15px;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
  }
  
  .list-group-item:not(.active) {
    background-color: #f1f1f1;
    color: #333; 
  }
  
  .list-group-item:not(.active):hover {
    background-color: #e2e6ea; 
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .contents {
      flex-direction: column; 
      align-items: center;
    }
  
    .contents ul {
      margin-bottom: 20px; 
    }
  }
  
  .degree_image{
    margin-top: 8%;
  }
  @media(max-width:386px){
      .left-intro i{
        font-size: 13px;
      }
      .right-my-image img{
        height: 35vh;
        object-fit:cover;
        
      }
  }