*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    letter-spacing: 5px;
    
}
.nav-link{
    color: black;
    font-size: 20px;
    
}
ul,li{
    column-gap: 20px;
}
.nav-link:hover{
    color: blue;
}
header{
    box-shadow: 4px 4px 4px 4px rgba(122,102,130,0.2);
    background-color: whitesmoke;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}